
@using WebGrease.Css.Extensions
@model NzKvoDaQm.Models.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 id="title">Какво да ям?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @using (Html.BeginRouteForm("search", FormMethod.Get, new
                                                                  {
                                                                      @id = "search-form"
                                                                  }))
            {
                @Html.TextBox("query", null, new
                                             {
                                                 @id = "searchbox", @class = "form-control"
                                             })

                <input type="submit" id="search-button" class="btn btn-lg btn-primary btn-success" value="Търси!"/>
            }
        </div>
    </div>
    <hr>
    @for (var i = 0; i < @Model.Recipes.Length; i += 3)
    {
        var recipesToRender = @Model.Recipes.Skip(i)
            .Take(3)
            .ToArray();

        <div class="row">
            @foreach (var recipe in recipesToRender)
            {
                <div class="col-md-4">
                    <div class="recipe">
                        <a href="#" class="recipe-title">@recipe.Title</a>
                        <img class="recipe-image" src="@recipe.Images.First().Url"/>
                        <div class="recipe-footer">
                            <div class="recipe-ingredients">
                                Съставки:
                                @foreach (var ingredient in recipe.Ingredients.Select(ingredient => ingredient.IngredientType).Take(3))
                                {
                                    <img src="@ingredient.ThumbnailUrl" class="recipe-ingredient" />
                                }

                                @if (recipe.Ingredients.Count > 3)
                                {
                                    @:...
                            }
                            </div>
                            <span class="recipe-time-required-to-cook">
                                <span class="glyphicon glyphicon-time"></span>
                                @recipe.MinutesRequiredToCook мин.
                            </span>    
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

